<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.astral.back9" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Back9Application"
        android:allowBackup="true"
        android:icon="@mipmap/final_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstScreen"
            android:label="@string/title_activity_first_screen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SignIn"
            android:label="@string/title_activity_sign_in"
            android:parentActivityName=".FirstScreen"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.astral.back9.FirstScreen" />
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register"
            android:parentActivityName=".FirstScreen"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.astral.back9.FirstScreen" />
        </activity>
        <activity
            android:name=".Social"
            android:label="@string/title_activity_social"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.astral.back9.MainActivity" />
        </activity>
        <activity
            android:name=".Ranking"
            android:label="@string/title_activity_ranking"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.astral.back9.MainActivity" />
        </activity>
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.astral.back9.MainActivity" />
        </activity>
        <activity
            android:name=".Help"
            android:label="@string/title_activity_help"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.astral.back9.MainActivity" />
        </activity>
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.astral.back9.MainActivity" />
        </activity>
        <activity
            android:name=".FirstLoadActivity"
            android:label="@string/title_activity_first_load" >
        </activity>
        <activity
            android:name=".StartRound"
            android:label="@string/title_activity_start_round"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.astral.back9.MainActivity" />
        </activity>
        <activity
            android:name=".ForgotPassword"
            android:label="@string/title_activity_forgot_password"
            android:parentActivityName=".SignIn" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.astral.back9.SignIn" />
        </activity>
        <activity
            android:name=".CurrentRound"
            android:label="@string/title_activity_current_round"
            android:parentActivityName=".StartRound" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.astral.back9.StartRound" />
        </activity>
    </application>

</manifest>
