<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.astral.back9" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstScreen"
            android:label="@string/title_activity_first_screen"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SignIn"
            android:label="@string/title_activity_sign_in"
            android:screenOrientation="portrait"
            android:parentActivityName=".FirstScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.astral.back9.FirstScreen" />
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:parentActivityName=".FirstScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.astral.back9.FirstScreen" />
        </activity>
    </application>

</manifest>
